services:
  app:
    build: .
    container_name: backend_app
    environment:
      DATABASE_URL: "postgresql://postgres:2002afidhu@db:5432/backend_db"
      PORT: "5000"
    ports:
      - "5000:5000"
    depends_on:
      - db
    volumes:
      - .:/app

  db:
    image: postgres:17
    container_name: postgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 2002afidhu
      POSTGRES_DB: backend_db
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
